{% extends "back_end/base/main.html" %}
{% load static %}
{% block content %}


<div class="container mt-3" >

<div class="row">



  <div class="col-md-4">
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  </div>
 

</div>













</div>


{% endblock %}
