{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
			<meta name="author" content="demo.com" />
			<link rel="shortcut icon" type="image/x-icon" href="" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<link rel="alternate" hreflang="x-default" ersagnatural>
			<link rel="alternate" hreflang="tr-tr" href="demo.com" />
         <meta name="keywords" content="">
 			<meta name="description" content="" />
			<link rel="canonical" href="demo.com" />
			<meta property="og:locale" content="tr_TR" />
			<meta property="og:type" content="website" /> 
			<meta property="og:description" content="---" /> 
             <!-- animation -->
        <link rel="stylesheet" href="{% static 'front_end/css/style.css' %}">  
        <link rel="stylesheet" href="{% static 'front_end/css/main-color.css' %}">  
        

</head>
<body class="dark-header_">

  <!-- navigation panel -->
 <!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="/static/front_end/images/logo.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">
 
						<li><a href="/">Anasayfa</a></li>
						<li><a href="/list">Listele</a></li>
						<li><a href="/blog">Haberler</a></li>
						<li><a href="/about">Hakkımızda</a></li>
						<li><a href="/contact">İletişim</a></li>
						

						<!-- <li><a href="#">Test</a>
							<ul>
								<li><a href="#">test2</a></li> 
							</ul>
						</li> -->
						
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					{% if user.is_authenticated %}
					<!-- User Menu -->
					<div class="user-menu">
						<div class="user-name">Merhaba {{user.username}}</div>
						<ul>
							<li><a href="/logout"><i class="sl sl-icon-settings"></i> Çıkış Yap</a></li> 
						</ul>
					</div>

					{% else %}

				<!-- User Menu -->
				<div class="user-menu">
					<div class="user-name">Hesabın Yokmu</div>
					<ul>
						<li><a href="/login"><i class="sl sl-icon-settings"></i> Giriş Yap</a></li> 
						<li><a href="/register"><i class="sl sl-icon-settings"></i> Kayıt Ol</a></li> 
					</ul>
				</div>

					{% endif %}

				</div>
				<!-- Header Widget / End -->
			</div>

				
		
  

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
<!-- end navigation panel -->

    <div class="main-container">
      {% block content %}

      {% endblock %}
    </div>


  <!-- footer -->
<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<a href="/"><img src="/static/front_end/images/logo.png" alt=""></a>
				<br><br>
				<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Yardımcı Linkler</h4>
				<ul class="footer-links">
					<li><a href="/login" class="nav-link">Giriş yap</a></li>  
					<li><a href="/register" class="nav-link">Kayıt Ol</a></li>
					<li><a href="#">Gizlilik Sözleşmesi</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">SSS</a></li>
					<li><a href="/blog">Blog</a></li> 
					<li><a href="/contact">Mesaj Gönderin</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>İletişim</h4>
				<div class="text-widget">
					<span>12345 Little Lonsdale St, Melbourne</span> <br>
					Phone: <span>(123) 123-456 </span><br>
					E-Mail:<span> <a href="#">office@example.com</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li> 
					<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li> 
				</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-12 copyrights mt-5  text-center" style="font-size: 13px;  ">2022 © Design &amp; Development   <a href="https://www.eytsoft.com/" target="_blank" class="text-dark">EYTSOFT</a></div>
 			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->

<!-- end footer -->
 

<!-- Scripts
================================================== -->
<script type="text/javascript" src="{% static 'front_end/scripts/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/jquery-migrate-3.3.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front_end/scripts/custom.js' %}"></script>


<!-- Leaflet // Docs: https://leafletjs.com/ -->
<script src="{% static 'front_end/scripts/leaflet.min.js' %}"></script>

<!-- Leaflet Maps Scripts -->
<script src="{% static 'front_end/scripts/leaflet-markercluster.min.js' %}"></script>
<script src="{% static 'front_end/scripts/leaflet-gesture-handling.min.js' %}"></script>
<script src="{% static 'front_end/scripts/leaflet-listeo.js' %}"></script>

<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
<script src="{% static 'front_end/scripts/leaflet-autocomplete.js' %}"></script>
<script src="{% static 'front_end/scripts/leaflet-control-geocoder.js' %}"></script>


 
</body>
    </html>
