{% extends "front_end/base/main_dashboard.html" %}
{% load static %}
{% block content %}
 
 	<!-- Content
	================================================== -->
  

		<div class="row">

			<!-- Profile -->
			<div class="col-lg-12 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">Ilan Bilgilerini Güncelle</h4>
					<div class="dashboard-list-box-static">
						
					 
	
						<!-- Details -->
						<div class="my-posts">
							<form method="post" action=""> 
                          
								<div class="filebox  preview-image text-center">                        
									<label for="input_file">Yeni Resim Seç</label>
									<input type="file" name="image" accept="image/*" id="input_file" class="upload-hidden">
							
								</div>
	
						
								<div class="row">
									{% csrf_token %}
									<div class="col-md-4">
										<label style="display:block ; width:100% ;">Adı Soyadı</label>
									<input type="text" name="name" id="name" placeholder="İlan Başlığını yaz">
									</div>
									<div class="col-md-4">
										<label style="display:block ; width:100% ;">İl</label>
										<select name="il" id="il">
											<option value="">Lütfen Seç</option>
											<option value="ISTANBUL">ISTANBUL</option>
											<option value="ANKARA">ANKARA</option>
											<option value="MARDIN">MARDIN</option>
										</select>
									</div>
									<div class="col-md-4">
										<label style="display:block ; width:100% ;">İlçe</label>
									<select name="ilce" id="ilce">
										<option value="">Lütfen Seç</option>
										<option value="ISTANBUL">ISTANBUL</option>
										<option value="ANKARA">ANKARA</option>
										<option value="MARDIN">MARDIN</option>
									</select>
									</div>
								</div>
							
								<label style="display:block ; width:100% ;">Açıklama</label>
									<textarea name="desc" id="desc" cols="3" rows="2" placeholder="İlan Açıklamasını yaz"></textarea>
								
									<button class="button margin-top-15" type="submit">Güncelle</button>
								</form>
						</div>


	
						
					
					</div>
				</div>
			</div>

		 

 
		</div>

 
	<!-- Content / End -->
 
<style>
    .change-photo-btn,.change-photo-btn:hover {
        background-color: #f91942;
        color:#fff;
    }
</style>

{% endblock %}
