{% extends "front_end/base/main_dashboard.html" %}
{% load static %}
{% block content %}
 
 <div class="col-12 m-auto" style=" display: flex; justify-content: center;"> 
 	<!-- Change Password -->
	 <div class="col-lg-8 col-md-12">
		<div class="dashboard-list-box margin-top-0">
			<h4 class="gray">Şifre Değiştir</h4>
			<div class="dashboard-list-box-static">

				<form method="post" action="" name="User" id="UserPassword" autocomplete="on">
					{% csrf_token %}
				<!-- Change Password -->
				<div class="my-profile">
					<label class="margin-top-0">Eski Şifreniz</label>
					<input name="oldpassword" id="oldpassword" type="password" value="12312312312">

					<label>Yeni Şifre</label>
					<input name="newpassword" id="newpassword" type="password">

					<label>Şifre Tekrar</label>
					<input name="newpassword" id="newpassword" type="password">

					<button class="button margin-top-15 "  >Şifre Değiştir</button>
				</div>
				</form>

			</div>
		</div>
	</div>

</div>

{% endblock %}
